<header>
  <div class="logo" routerLink="/homes" routerLinkActive="active"> 
    <img src="http://placehold.it/100x100" alt="">
  </div>
  <div class="profile">
    <a class="profile__name" routerLink="/profile" routerLinkActive="active">User Name</a>
    <!-- <mat-icon aria-hidden="false" aria-label="profile icon">home</mat-icon> -->
    <!-- <button *ngIf="!authService.isLoggedIn()" (click)="openLoginDialog()">Login</button> -->
    <!-- <div *ngIf="authService.isLoggedIn()">
      <p>{{authService.getUser().firstName + ' ' + authService.getUser().lastName}}</p>
      <button click)="logout()">Logout</button>
    </div> -->
  </div>
</header>