@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
  box-sizing: border-box;
}
body {
  background: #f1f1f1;
  font-family: sans-serif;
  line-height: 1.5;
  color: #303030;
  font-family: 'Larsseit'
}

img {
  max-width: 100%;
}

h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.mat-card {
  padding: 0!important;
}