@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
    $font-family: 'Larsseit'
);

@include mat-core($custom-typography);
* {
  box-sizing: border-box;
}
body {
  background: #edeff2;
  line-height: 1.5;
  color: #303030;
  font-family: 'Larsseit';
}

img {
  max-width: 100%;
}

h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.mat-card {
  padding: 0!important;
}

.section {
  display: flex;
  padding: 32px;
  &--highlight {
    background: #edeff2;
  }
}
.section__wide {
  flex: 0 0 60%;
  border-right: 1px solid #edeff2;
  padding: 0 32px;
}

.section__narrow {
  flex: 0 0 40%;
  padding: 0 32px;
}

.mat-card {
  border-radius: 10px;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}